<div class="row" id="animated-background">
  <div class="col">
    <section class="helloIntro">
      <section class="introName">
        <h1>I'M {{profile.firstName}} {{profile.lastName}}</h1>
      </section>
      <section class="introText">
        A <span class="introTypewriter" id="typewriter">Computer Programmer Student</span>
      </section>
      <section class="introInfoText">
        In a professional context it often happen that private clients corder a publication to be made.
      </section>
      <section class="introSocial">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-github"></i>
        <i class="fa fa-linkedin"></i>
        <i class="fa fa-free-code-camp"></i>
      </section>
    </section>
  </div>
  <div class="col" id="picture">
    <img src="../../../assets/img/atom.png" class="helloPicture">
  </div>
</div>

