<div class="page-header">
  <h2 class="header-title">Profile</h2>
  <div class="btn-row">
    <a routerLink="../profile" class="btn">Profile Info</a>
    <a routerLink="../createprofile" class="btn"><i class="fa fa-address-card-o"></i></a>
    <a routerLink="../editprofile" class="btn"><i class="fa fa-pencil"></i></a>
  </div>
</div>
<div class="card">
  <div class="card-header">{{profile.firstName}} {{profile.secondName}} {{profile.lastName}}</div>
  <div class="card-body">
    <div class="body-personal">
      <section class="col"><img src="../../../assets/img/raypalmer.jpg" class="image"></section>
      <section class="col">
        <div class="inline-group">
          <div><label>Birthday:</label><span>{{birthday}}</span></div>
          <div><label>Age:</label><span>{{age}}</span></div>
        </div>
        <div class="inline-group">
          <div>
            <label>Address:</label><span>{{profile.location?.addRess}}</span>
          </div>
          <div></div>
        </div>
        <div class="inline-group">
          <div><label>Zipcode:</label><span>{{profile.location?.zipCode}}</span></div>
          <div><label>City:</label><span>{{profile.location?.city}}</span></div>
        </div>
        <div class="inline-group">
          <div><label>Work:</label><span>{{profile.status?.work}}</span></div>
          <div><label>Employee:</label><span>{{profile.status?.employee}}</span></div>
        </div>
        <div class="inline-group">
          <div><label>Phone:</label><span>{{profile.contact?.phone}}</span></div>
          <div><label>Email:</label><span>{{profile.contact?.email}}</span></div>
        </div>
      </section>
    </div>
    <div class="body-about">
      {{profile.descripTion}}
    </div>
  </div>
</div>

