<div class="page-header">
  <h2 class="header-title">Edit Profile</h2>
  <div class="btn-row">
    <a routerLink="../profile" class="btn">Profile Info</a>
    <a routerLink="../createprofile" class="btn"><i class="fa fa-address-card-o"></i></a>
    <a routerLink="../editprofile" class="btn"><i class="fa fa-pencil"></i></a>
  </div>
</div>
<form [formGroup]="editForm">
  <div class="container-row">
      <div class="col">
          <div class="form-group">
              <label>Firstname</label>
              <input type="text" formControlName="firstName" value="{{profile.firstName}}" id="" class="form-control">
          </div>
          <div class="form-group">
              <label>Secondname</label>
              <input type="text" formControlName="secondName" id="" value="{{profile.secondName}}" class="form-control">
          </div>
          <div class="form-group">
              <label>Lastname</label>
              <input type="text" formControlName="lastName" id="" value="{{profile.lastName}}" class="form-control">
          </div>
          <div class="form-group">
              <label>Location</label>
              <select formControlName="locationId" #LocationList class="form-control">
                <option>Please select location info</option>
                <option *ngFor="let item of location" [value]="item.locationId" [selected]="profile.locationId == item.locationId">
                    Adr: {{item.addRess}} - Post: {{item.zipCode}} - By: {{item.city}} - Land: {{item.country}}
                </option>
              </select>
          </div>
          <div class="form-group">
              <label>Status</label>
              <select formControlName="statusId" id="" class="form-control">
                <option>Please select status info</option>
                <option *ngFor="let sta of status" #Options [selected]="profile.statusId == sta.statusId" [value]="sta.statusId">
                  Work: {{sta.work}} - Employee: {{sta.employee}}
                </option>
              </select>
          </div>
      </div>
      <div class="col">
          <div class="form-group">
              <label>Contact</label>
              <select formControlName="contactId" id="" class="form-control">
                <option>Please select contact info</option>
                <option *ngFor="let con of contact" [value]="con.contactId" [selected]="profile.contactId == con.contactId">
                  Phone: {{con.phone}} - Email: {{con.email}}
                </option>
              </select>
          </div>
          <div class="form-group">
              <label>Birthday</label>
              <input type="date" formControlName="birthDay" id="" value="{{profile.birthDay}}" class="form-control">
          </div>
      </div>
  </div>
  <div class="container-row">
      <div class="col">
          <div class="form-group">
              <label>About</label>
              <textarea formControlName="descripTion" class="form-control" [value]="profile.descripTion"></textarea>
          </div>
      </div>
  </div>
  <div class="btn-row">
      <button type="submit" (click)="profileHandler(editForm.value)" class="btn btn-create">Update Details</button>
      <button type="reset" class="btn btn-clear">Clear Details</button>
  </div>
  </form>
