<div class="page-header">
  <h2 class="header-title">Edit Work</h2>
  <div class="btn-row">
    <a routerLink="../work" class="btn">Work Overview</a>
    <a routerLink="../addWork" class="btn"><i class="fa fa-plus"></i></a>
    <a routerLink="../editWork" class="btn"><i class="fa fa-pencil"></i></a>
    <a routerLink="../work" class="btn"><i class="fa fa-trash"></i></a>
  </div>
</div>
<form [formGroup]="workForm">
  <input type="hidden" formControlName="workId">
  <div class="container-row">
      <div class="col">
          <div class="form-group">
              <label>Employee Title</label>
              <input type="text" formControlName="workTitle" [value]="work.workTitle" id="" class="form-control">
          </div>
          <div class="form-group">
              <label>Company</label>
              <input type="text" formControlName="company" [value]="work.company" id="" class="form-control">
          </div>
          <div class="form-group">
              <label>Address</label>
              <input type="text" formControlName="addRess" [value]="work.addRess" id="" class="form-control">
          </div>
          <div class="form-group">
              <label>Zipcode</label>
              <input type="text" formControlName="zipCode" [value]="work.zipCode" #LocationList class="form-control">
          </div>
          <div class="form-group">
              <label>City</label>
              <input type="text" formControlName="city" [value]="work.city" id="" class="form-control">
          </div>
      </div>
      <div class="col">
          <div class="form-group">
              <label>Start Date</label>
              <input type="text" placeholder="mm/yyyy" formControlName="startDate" [value]="work.startDate" id="" class="form-control">
          </div>
          <div class="form-group">
              <label>End Date</label>
              <input type="text" placeholder="mm/yyyy" formControlName="endDate" [value]="work.endDate" id="" class="form-control">
          </div>
      </div>
  </div>
  <div class="container-row">
      <div class="col">
          <div class="form-group">
              <label>About</label>
              <textarea formControlName="descripTion" [value]="work.descripTion" class="form-control"></textarea>
          </div>
      </div>
  </div>
  <div class="btn-row">
      <button type="submit" (click)="workHandler(workForm.value)" class="btn btn-create">Save Details</button>
      <button type="reset" class="btn btn-clear">Clear Details</button>
  </div>
  </form>
