<div class="form-group">
  <label>Variables</label>
  <div class="group-options">
    <span class="option-item">
      0 <input type="radio" formControlName="opTion01" value="0">
    </span>
    <span class="option-item">
      1 <input type="radio" formControlName="opTion01" value="1">
    </span>
    <span class="option-item">
      2 <input type="radio" formControlName="opTion01" value="2">
    </span>
    <span class="option-item">
      3 <input type="radio" formControlName="opTion01" value="3">
    </span>
    <span class="option-item">
      4 <input type="radio" formControlName="opTion01" value="4">
    </span>
    <span class="option-item">
      5 <input type="radio" formControlName="opTion01" value="5">
    </span>
    <span class="option-item">
      6 <input type="radio" formControlName="opTion01" value="6">
    </span>
    <span class="option-item">
      7 <input type="radio" formControlName="opTion01" value="7">
    </span>
    <span class="option-item">
      8 <input type="radio" formControlName="opTion01" value="8">
    </span>
    <span class="option-item">
      9 <input type="radio" formControlName="opTion01" value="9">
    </span>
    <span class="option-item">
      10 <input type="radio" formControlName="opTion01" value="10">
    </span>
  </div>
</div>
<div class="form-group">
  <label>Dates Logic</label>
  <div class="group-options">
    <span class="option-item">
      0 <input type="radio" formControlName="opTion02" value="0">
    </span>
    <span class="option-item">
      1 <input type="radio" formControlName="opTion02" value="1">
    </span>
    <span class="option-item">
      2 <input type="radio" formControlName="opTion02" value="2">
    </span>
    <span class="option-item">
      3 <input type="radio" formControlName="opTion02" value="3">
    </span>
    <span class="option-item">
      4 <input type="radio" formControlName="opTion02" value="4">
    </span>
    <span class="option-item">
      5 <input type="radio" formControlName="opTion02" value="5">
    </span>
    <span class="option-item">
      6 <input type="radio" formControlName="opTion02" value="6">
    </span>
    <span class="option-item">
      7 <input type="radio" formControlName="opTion02" value="7">
    </span>
    <span class="option-item">
      8 <input type="radio" formControlName="opTion02" value="8">
    </span>
    <span class="option-item">
      9 <input type="radio" formControlName="opTion02" value="9">
    </span>
    <span class="option-item">
      10 <input type="radio" formControlName="opTion02" value="10">
    </span>
  </div>
</div>
<div class="form-group">
  <label>Mathematics</label>
  <div class="group-options">
    <span class="option-item">
      0 <input type="radio" formControlName="opTion03" value="0">
    </span>
    <span class="option-item">
      1 <input type="radio" formControlName="opTion03" value="1">
    </span>
    <span class="option-item">
      2 <input type="radio" formControlName="opTion03" value="2">
    </span>
    <span class="option-item">
      3 <input type="radio" formControlName="opTion03" value="3">
    </span>
    <span class="option-item">
      4 <input type="radio" formControlName="opTion03" value="4">
    </span>
    <span class="option-item">
      5 <input type="radio" formControlName="opTion03" value="5">
    </span>
    <span class="option-item">
      6 <input type="radio" formControlName="opTion03" value="6">
    </span>
    <span class="option-item">
      7 <input type="radio" formControlName="opTion03" value="7">
    </span>
    <span class="option-item">
      8 <input type="radio" formControlName="opTion03" value="8">
    </span>
    <span class="option-item">
      9 <input type="radio" formControlName="opTion03" value="9">
    </span>
    <span class="option-item">
      10 <input type="radio" formControlName="opTion03" value="10">
    </span>
  </div>
</div>
<div class="form-group">
  <label>Classes</label>
  <div class="group-options">
    <span class="option-item">
      0 <input type="radio" formControlName="opTion04" value="0">
    </span>
    <span class="option-item">
      1 <input type="radio" formControlName="opTion04" value="1">
    </span>
    <span class="option-item">
      2 <input type="radio" formControlName="opTion04" value="2">
    </span>
    <span class="option-item">
      3 <input type="radio" formControlName="opTion04" value="3">
    </span>
    <span class="option-item">
      4 <input type="radio" formControlName="opTion04" value="4">
    </span>
    <span class="option-item">
      5 <input type="radio" formControlName="opTion04" value="5">
    </span>
    <span class="option-item">
      6 <input type="radio" formControlName="opTion04" value="6">
    </span>
    <span class="option-item">
      7 <input type="radio" formControlName="opTion04" value="7">
    </span>
    <span class="option-item">
      8 <input type="radio" formControlName="opTion04" value="8">
    </span>
    <span class="option-item">
      9 <input type="radio" formControlName="opTion04" value="9">
    </span>
    <span class="option-item">
      10 <input type="radio" formControlName="opTion04" value="10">
    </span>
  </div>
</div>
<div class="form-group">
  <label>Methods</label>
  <div class="group-options">
    <span class="option-item">
      0 <input type="radio" formControlName="opTion05" value="0">
    </span>
    <span class="option-item">
      1 <input type="radio" formControlName="opTion05" value="1">
    </span>
    <span class="option-item">
      2 <input type="radio" formControlName="opTion05" value="2">
    </span>
    <span class="option-item">
      3 <input type="radio" formControlName="opTion05" value="3">
    </span>
    <span class="option-item">
      4 <input type="radio" formControlName="opTion05" value="4">
    </span>
    <span class="option-item">
      5 <input type="radio" formControlName="opTion05" value="5">
    </span>
    <span class="option-item">
      6 <input type="radio" formControlName="opTion05" value="6">
    </span>
    <span class="option-item">
      7 <input type="radio" formControlName="opTion05" value="7">
    </span>
    <span class="option-item">
      8 <input type="radio" formControlName="opTion05" value="8">
    </span>
    <span class="option-item">
      9 <input type="radio" formControlName="opTion05" value="9">
    </span>
    <span class="option-item">
      10 <input type="radio" formControlName="opTion05" value="10">
    </span>
  </div>
</div>
<div class="form-group">
  <label>Interfaces</label>
  <div class="group-options">
    <span class="option-item">
      0 <input type="radio" formControlName="opTion06" value="0">
    </span>
    <span class="option-item">
      1 <input type="radio" formControlName="opTion06" value="1">
    </span>
    <span class="option-item">
      2 <input type="radio" formControlName="opTion06" value="2">
    </span>
    <span class="option-item">
      3 <input type="radio" formControlName="opTion06" value="3">
    </span>
    <span class="option-item">
      4 <input type="radio" formControlName="opTion06" value="4">
    </span>
    <span class="option-item">
      5 <input type="radio" formControlName="opTion06" value="5">
    </span>
    <span class="option-item">
      6 <input type="radio" formControlName="opTion06" value="6">
    </span>
    <span class="option-item">
      7 <input type="radio" formControlName="opTion06" value="7">
    </span>
    <span class="option-item">
      8 <input type="radio" formControlName="opTion06" value="8">
    </span>
    <span class="option-item">
      9 <input type="radio" formControlName="opTion06" value="9">
    </span>
    <span class="option-item">
      10 <input type="radio" formControlName="opTion06" value="10">
    </span>
  </div>
</div>
<div class="form-group">
  <label>Models</label>
  <div class="group-options">
    <span class="option-item">
      0 <input type="radio" formControlName="opTion07" value="0">
    </span>
    <span class="option-item">
      1 <input type="radio" formControlName="opTion07" value="1">
    </span>
    <span class="option-item">
      2 <input type="radio" formControlName="opTion07" value="2">
    </span>
    <span class="option-item">
      3 <input type="radio" formControlName="opTion07" value="3">
    </span>
    <span class="option-item">
      4 <input type="radio" formControlName="opTion07" value="4">
    </span>
    <span class="option-item">
      5 <input type="radio" formControlName="opTion07" value="5">
    </span>
    <span class="option-item">
      6 <input type="radio" formControlName="opTion07" value="6">
    </span>
    <span class="option-item">
      7 <input type="radio" formControlName="opTion07" value="7">
    </span>
    <span class="option-item">
      8 <input type="radio" formControlName="opTion07" value="8">
    </span>
    <span class="option-item">
      9 <input type="radio" formControlName="opTion07" value="9">
    </span>
    <span class="option-item">
      10 <input type="radio" formControlName="opTion07" value="10">
    </span>
  </div>
</div>
<div class="form-group">
  <label>Entity Framework</label>
  <div class="group-options">
    <span class="option-item">
      0 <input type="radio" formControlName="opTion08" value="0">
    </span>
    <span class="option-item">
      1 <input type="radio" formControlName="opTion08" value="1">
    </span>
    <span class="option-item">
      2 <input type="radio" formControlName="opTion08" value="2">
    </span>
    <span class="option-item">
      3 <input type="radio" formControlName="opTion08" value="3">
    </span>
    <span class="option-item">
      4 <input type="radio" formControlName="opTion08" value="4">
    </span>
    <span class="option-item">
      5 <input type="radio" formControlName="opTion08" value="5">
    </span>
    <span class="option-item">
      6 <input type="radio" formControlName="opTion08" value="6">
    </span>
    <span class="option-item">
      7 <input type="radio" formControlName="opTion08" value="7">
    </span>
    <span class="option-item">
      8 <input type="radio" formControlName="opTion08" value="8">
    </span>
    <span class="option-item">
      9 <input type="radio" formControlName="opTion08" value="9">
    </span>
    <span class="option-item">
      10 <input type="radio" formControlName="opTion08" value="10">
    </span>
  </div>
</div>
<div class="form-group">
  <label>CRUD</label>
  <div class="group-options">
    <span class="option-item">
      0 <input type="radio" formControlName="opTion09" value="0">
    </span>
    <span class="option-item">
      1 <input type="radio" formControlName="opTion09" value="1">
    </span>
    <span class="option-item">
      2 <input type="radio" formControlName="opTion09" value="2">
    </span>
    <span class="option-item">
      3 <input type="radio" formControlName="opTion09" value="3">
    </span>
    <span class="option-item">
      4 <input type="radio" formControlName="opTion09" value="4">
    </span>
    <span class="option-item">
      5 <input type="radio" formControlName="opTion09" value="5">
    </span>
    <span class="option-item">
      6 <input type="radio" formControlName="opTion09" value="6">
    </span>
    <span class="option-item">
      7 <input type="radio" formControlName="opTion09" value="7">
    </span>
    <span class="option-item">
      8 <input type="radio" formControlName="opTion09" value="8">
    </span>
    <span class="option-item">
      9 <input type="radio" formControlName="opTion09" value="9">
    </span>
    <span class="option-item">
      10 <input type="radio" formControlName="opTion09" value="10">
    </span>
  </div>
</div>
<div class="form-group">
  <label>Database</label>
  <div class="group-options">
    <span class="option-item">
      0 <input type="radio" formControlName="opTion10" value="0">
    </span>
    <span class="option-item">
      1 <input type="radio" formControlName="opTion10" value="1">
    </span>
    <span class="option-item">
      2 <input type="radio" formControlName="opTion10" value="2">
    </span>
    <span class="option-item">
      3 <input type="radio" formControlName="opTion10" value="3">
    </span>
    <span class="option-item">
      4 <input type="radio" formControlName="opTion10" value="4">
    </span>
    <span class="option-item">
      5 <input type="radio" formControlName="opTion10" value="5">
    </span>
    <span class="option-item">
      6 <input type="radio" formControlName="opTion10" value="6">
    </span>
    <span class="option-item">
      7 <input type="radio" formControlName="opTion10" value="7">
    </span>
    <span class="option-item">
      8 <input type="radio" formControlName="opTion10" value="8">
    </span>
    <span class="option-item">
      9 <input type="radio" formControlName="opTion10" value="9">
    </span>
    <span class="option-item">
      10 <input type="radio" formControlName="opTion10" value="10">
    </span>
  </div>
</div>
