<div class="row" id="row-center">
  <h1 class="pageTitle"><span class="text-box text-black">My</span><span class="text-box text-red">Projects</span></h1>
</div>
<div class="row" id="row-center">
  <p>
    In a professional context it often happen that private clients corder a publication to be made.
  </p>
</div>

<div class="row" id="row-center">
  <section class="project-categories">
    <span class="btn active">All</span>
    <span class="btn">Web Design</span>
    <span class="btn">Console</span>
    <span class="btn">Fullstack Website</span>
  </section>

  <div class="projects-container">
    <div class="projects-item">Project 1
      <div class="overlay">
        <div>
          <i class="fa fa-chain"></i><i class="fa fa-search"></i>
        </div>
        <span>My Projects</span></div>
    </div>
    <div class="projects-item">Project 2
      <div class="overlay">
        <div>
          <i class="fa fa-chain"></i><i class="fa fa-search"></i>
        </div>
        <span>My Projects</span></div>
    </div>
    <div class="projects-item">Project 3
      <div class="overlay">
        <div>
          <i class="fa fa-chain"></i><i class="fa fa-search"></i>
        </div>
        <span>My Projects</span></div>
    </div>
    <div class="projects-item">Project 4
      <div class="overlay">
        <div>
          <i class="fa fa-chain"></i><i class="fa fa-search"></i>
        </div>
        <span>My Projects</span></div>
    </div>
    <div class="projects-item">Project 5
      <div class="overlay">
        <div>
          <i class="fa fa-chain"></i><i class="fa fa-search"></i>
        </div>
        <span>My Projects</span></div>
    </div>
    <div class="projects-item">Project 6
      <div class="overlay">
        <div>
          <i class="fa fa-chain"></i><i class="fa fa-search"></i>
        </div>
        <span>My Projects</span></div>
    </div>
    <div class="projects-item">Project 7
      <div class="overlay">
        <div>
          <i class="fa fa-chain"></i><i class="fa fa-search"></i>
        </div>
        <span>My Projects</span></div>
    </div>
    <div class="projects-item">Project 8
      <div class="overlay">
        <div>
          <i class="fa fa-chain"></i><i class="fa fa-search"></i>
        </div>
        <span>My Projects</span></div>
    </div>
    <div class="projects-item">Project 9
      <div class="overlay">
        <div>
          <i class="fa fa-chain"></i><i class="fa fa-search"></i>
        </div>
        <span>My Projects</span></div>
    </div>
    <div class="projects-item">Project 10
      <div class="overlay">
        <div>
          <i class="fa fa-chain"></i><i class="fa fa-search"></i>
        </div>
        <span>My Projects</span></div>
    </div>
    <div class="projects-item">Project 11
      <div class="overlay">
        <div>
          <i class="fa fa-chain"></i><i class="fa fa-search"></i>
        </div>
        <span>My Projects</span></div>
    </div>
    <div class="projects-item">Project 12
      <div class="overlay">
        <div>
          <i class="fa fa-chain"></i><i class="fa fa-search"></i>
        </div>
        <span>My Projects</span></div>
    </div>
  </div>
</div>
