<div class="page-header">
  <h2 class="header-title">Dashboard</h2>
</div>
<div class="container-row">
  <section class="card bg-blue">
    <section class="card-body">
      <i class="fa fa-users"></i>
      <span class="badge">{{visitorsCount}}</span>
    </section>
  </section>
  <section class="card bg-red">
    <section class="card-body">
      <i class="fa fa-briefcase"></i>
      <span class="badge">
        {{workCount}}
      </span>
    </section>
  </section>
  <section class="card bg-dark-yellow">
    <section class="card-body">
      <i class="fa fa-graduation-cap"></i>
      <span class="badge">{{educationCount}}</span>
    </section>
  </section>
  <section class="card bg-green">
    <section class="card-body">
      <i class="fa fa-cubes"></i>
      <span class="badge">{{projectCount}}</span>
    </section>
  </section>
  <section class="card bg-orange">
    <section class="card-body">
      <i class="fa fa-clock-o"></i>
      <span class="time">00:00:00</span>
    </section>
  </section>
</div>
