<div class="row" id="row-center">
  <h1 class="pageTitle"><span class="text-box text-black">Contact</span><span class="text-box text-red">Me</span></h1>
</div>
<div class="row" id="row-center">
  <p>
    In a professional context it often happen that private clients corder a publication to be made.
  </p>
</div>
<div class="row" id="row-center">
  <section class="contact-container">
    <section class="contact-item">
      <i class="fa fa-phone"></i>
      <label>Call Me On</label>
      <span>{{profile.contact?.phone}}</span>
    </section>
    <section class="contact-item">
      <i class="fa fa-location-arrow"></i>
      <label>Visit Office</label>
      <span>{{profile.location?.addRess}}, {{profile.location?.city}}, {{profile.location?.country}}</span>
    </section>
    <section class="contact-item">
      <i class="fa fa-envelope-o"></i>
      <label>Email Me At</label>
      <span>{{profile.contact?.email}}</span>
    </section>
  </section>
</div>
<div class="row" id="row-center">
  <section class="form-container">
    <form [formGroup]="contactForm">
      <div class="input-group">
        <input type="text" formControlName="fullName" name="fullName" placeholder="Your Name*" class="form-control">
        <input type="email" formControlName="email" name="email" placeholder="Your Email*" class="form-control">
      </div>
      <div class="input-group">
        <input type="text" formControlName="subject" name="subject" placeholder="Your subject*" class="form-control">
      </div>
      <div class="input-group">
        <textarea formControlName="message" name="message" placeholder="Your message..." class="form-control"></textarea>
      </div>
      <button type="submit" class="btn">Send Message</button>
    </form>
  </section>
</div>
