<div class="row" id="row-center">
  <h1 class="pageTitle"><span class="text-box text-black">About</span><span class="text-box text-red">Me</span></h1>
</div>
<div class="row" id="row-center">
  <p>
    In a professional context it often happen that private clients corder a publication to be made.
  </p>
</div>
<div class="row" id="row-center">
  <section class="aboutbox">
    <div class="about-col">
      <img class="about-picture" src="../../../assets/img/raypalmer.jpg">
    </div>
    <div class="about-col">
      <section class="infobox">
        <p class="infoboxTitle">
          <span class="red-text">Student</span>
          <span class="black-text">Computer Developer</span>
        </p>
        <div class="info-flex">
          <div class="info-col">
            <section class="info-group">
              <label>Birthday:</label><span class="info-text">{{birthday}}</span>
            </section>
            <section class="info-group">
              <label>Website:</label><span class="info-text">www.jp-pro.dk</span>
            </section>
            <section class="info-group">
              <label>Phone:</label><span class="info-text">{{profile.contact?.phone}}</span>
            </section>
            <section class="info-group">
              <label>City:</label><span class="info-text">{{profile.location.city}}, {{profile.location.country}}</span>
            </section>
          </div>
          <div class="info-col">
            <section class="info-group">
              <label>Age:</label><span class="info-text">{{age}}</span>
            </section>
            <section class="info-group">
              <label>Degree:</label><span class="info-text">Student</span>
            </section>
            <section class="info-group">
              <label>Mail:</label><span class="info-text">{{profile.contact?.email}}</span>
            </section>
            <section class="info-group">
              <label>Freelance:</label><span class="info-text">{{profile.status?.work}}</span>
            </section>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>

<div class="row" id="row-center">
  <div class="subtitle">
    <h2 class="subTitle">
      <span class="text-black">What</span>
      <span class="text-red">I'm Doing</span>
    </h2>
  </div>
</div>

<div class="row" id="row-center">
  <div class="row" id="box">
    <section class="box-item">
      <div class="box-col-sm"><i class="fa fa-pencil"></i></div>
      <div class="box-col">
        <p class="box-headline">Graphic Design</p>
        <p class="box-text">In a professional context it often happens that private clients corder a publication to be made.</p>
      </div>
    </section>
    <section class="box-item">
      <div class="box-col-sm"><i class="fa fa-check-circle-o"></i></div>
      <div class="box-col">
        <p class="box-headline">Bootstrap Support</p>
        <p class="box-text">In a professional context it often happens that private clients corder a publication to be made.</p>
      </div>
    </section>
    <section class="box-item">
      <div class="box-col-sm"><i class="fa fa-heart-o"></i></div>
      <div class="box-col">
        <p class="box-headline">Portfolio of works</p>
        <p class="box-text">In a professional context it often happens that private clients corder a publication to be made.</p>
      </div>
    </section>
    <section class="box-item">
      <div class="box-col-sm"><i class="fa fa-mobile"></i></div>
      <div class="box-col">
        <p class="box-headline">Responsive Themes</p>
        <p class="box-text">In a professional context it often happens that private clients corder a publication to be made.</p>
      </div>
    </section>
    <section class="box-item">
      <div class="box-col-sm"><i class="fa fa-globe"></i></div>
      <div class="box-col">
        <p class="box-headline">Go Beyond Limits</p>
        <p class="box-text">In a professional context it often happens that private clients corder a publication to be made.</p>
      </div>
    </section>
    <section class="box-item">
      <div class="box-col-sm"><i class="fa fa-trophy"></i></div>
      <div class="box-col">
        <p class="box-headline">Premium Slider</p>
        <p class="box-text">In a professional context it often happens that private clients corder a publication to be made.</p>
      </div>
    </section>
  </div>
</div>
